---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css'
---

<Layout  title="¡Gracias por Registrarte! - MenuQR">
  <main class="container mx-auto px-4 py-8 text-center">
    <h1 class="text-3xl font-bold mb-4">¡Gracias por Registrarte!</h1>
    <p class="text-xl mb-8">Hemos enviado un correo de confirmación a tu dirección de email. Por favor, revisa tu bandeja de entrada y sigue las instrucciones para completar tu registro.</p>
    <a href="/" class="text-blue-600 hover:underline">Volver a la página principal</a>
  </main>
</Layout >

